# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# IDEs
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# PyInstaller
build/
dist/
*.manifest
*.spec.bak

# Logs
*.log
